/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .02s;
	position: absolute;
	}

#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

.voice1 {
	font-family: "Brenner Mono Medium";
	color: white;
}

.voice2 {
	font-family: "Brenner Mono Regular";
	color: white;
}

.voice3 {
	font-family: "Brenner Slab Regular";
	color: white;
}

.voice4 {
	font-family: "Brenner Medium";
	font-size: larger;
	font-style: italic;
	color: white;
	}








/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background-color: rgb(0, 0, 0);
}
#video-container {
	position: relative;
	margin: auto;
}
#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}







/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.p0 span {
	opacity: 0;
}

.p0.on {
	margin: 1.3em;
	top: 0%;
	left: 30%;
}

.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-family: "Brenner Bold";
	font-size: larger;
}

.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s;
	font-family: "Brenner Bold";
	font-size: larger;
}

.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s 3s;
}

.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s 3s;
}

.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 3.6s;
}





.p1.on {
	top: 20%;
	left: 10%;
	font-size: smaller;
}

.p2.on {
	top: -5%;
	left: 30%;
}

.p3.on {
	top: 20%;
	left: 62%;
	font-size: smaller;
}

.p4.on, .p5.on {
	top: 90%;
	left: 35%;
}

.p4.on span:nth-of-type(5) {
font-family: "Brenner Mono Medium";
}

.p5.on span:nth-of-type(1) {
	font-family: "Brenner Mono Medium";
}

.p5.on span:nth-of-type(4) {
	font-family: "Brenner Mono Medium";
	}


/* FUCK OFF, skin-job */
.p6.on {
	top: 15%;
	left: 25%;
	transition: transform ease;
	animation-name: whisper-fade;
	animation-duration: .7s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.p6.on span:first-of-type {
	font-weight: bold;
	font-style: italic;
	font-size: large;
	opacity: .7;
	animation-name: whisper-shake;
	transition: transform ease;
	animation-duration: .2s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.p6.on span:nth-of-type(2) {
	font-weight: bold;
	font-style: italic;
	font-size: large;
	opacity: .6;
}

.p6.on span:nth-of-type(3) {
	font-family: "Brenner Slab Regular";
	font-style: italic;
	opacity: .5;
}



.p7 {
	top: 90%;
	left: 35%;
}


.p8.on {
 top: 30%;
 left: 15%;
 transition: .5s;
 }

.p8.off {
	top: 30%;
	left: 15%;
	scale: 50%;
}







/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* .sound0 {
	background-color: rgb(8, 8, 8);
} */

.sound0 #video-mask {
  animation-name: flying;
  animation-duration: 9s;
  animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

.sound1 #video-mask {
	animation-name: big-shadow-red, shake-big;
	animation-timing-function: ease-in, ease-in;
	animation-iteration-count: 1, 1;
	animation-delay: 0s, 0s;
	animation-duration: 1.2s, .5s;
	transform: scale(120%);
}

.sound4 #video-mask {
	transform: scale(110%);
	animation-name: small-shadow-blue;
	animation-timing-function: ease-in;
	animation-duration: .8s; 
}

.sound5 {
	animation-name: bg-turn-white;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-duration: 11s;
}

.sound7 #video-mask {
	transform: scale(105%);
	animation-name: small-shadow-blue-2;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-duration: .8s;
}

.sound9 #video-mask {
	transform: scale(100%);
	animation-name: small-shadow-blue-3;
	animation-timing-function: ease-in;
	animation-duration: .8s;
}

.sound13 #video-mask{
	animation-name: bg-bright;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-duration: 31s;
	}

.sound16 #video-mask { 
	animation-name: end-piep;
	animation-timing-function: ease-in;
	animation-duration: .2s;
}

.sound10 {
	animation-name: pulse;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-duration: .1s;
}

.sound12 {
	animation-name: pulse-2;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-duration: .1s;
}

.sound13 {
	animation-name: pulse-3;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-duration: .2s;
}

.sound14 {
	animation-name: pulse-4;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-duration: .1s;
}

.sound15 {
	animation-name: pulse-5;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-duration: .1s;
}

.sound16 {
	animation: none;
	background-color: white;
}

/* **********************************************
Animations */


@keyframes flying {
	0% {
		transform: translate(0, 0) rotate(0deg);
		
	}

	33% {
		transform: translate( 3em, 0) rotate(1deg);
	}


	66% {
		transform: translate(-2em, -1em) rotate(-1deg);
	}

	99% {
		transform: translate(0,0) rotate(1deg);
	}

	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}


@keyframes big-shadow-red {
	0% {
		box-shadow: 0em 0em 2em 2em rgb(255, 0, 0);
	}

50% {
	box-shadow: 0em 0em 2em 2em rgb(255, 0, 0);
	}

	100% {
		box-shadow: none;
	}
}


@keyframes shake-big{
  0% { 
		transform: rotate(0deg) scale(100%);
	}
  10% { 
		transform: rotate(-1deg) scale(102%); 
	}
  20% { 
		transform: rotate(1deg) scale(104%); 
	}
  30% { 
		transform: rotate(0deg) scale(106%);
	}
  40% { 
		transform: rotate(1deg) scale(108%); 
	}
  50% { 
		transform: rotate(-1deg) scale(110%); 
	}
  60% { 
		transform: rotate(0deg) scale(112%); 
	}
  70% { 
		transform: rotate(-1deg) scale(114%); 
	}
  80% { 
		transform: rotate(1deg) scale(116%); 
	}
  90% { 
		transform: rotate(0deg) scale(118%); 
	}
  100% { 
		transform:rotate(-1deg) scale(120%); 
	}
}


@keyframes small-shadow-blue {
	0% {
		box-shadow: 0em 0em 0em .2em rgb(100, 255, 229);
	}
	99% {
		box-shadow: none;
	}
	100% {
		box-shadow: none;
	}
}


@keyframes small-shadow-blue-2 {
	0% {
		box-shadow: 0em 0em 0em .2em rgb(100, 255, 229);
	}
	99% {
		box-shadow: none;
	}
	100% {
		display: none;
	}
}


@keyframes small-shadow-blue-3 {
	0% {
		box-shadow: 0em 0em 0em .2em rgb(100, 255, 229);
	}
	99% {
		box-shadow: none;
	}
	100% {
		display: none;
	}
}


@keyframes bg-turn-white {
	0% {
		background-color: rgb(0, 0, 0);
	}

80% {
	background-color: rgb(255, 255, 255);
}

	100% {
		background-color: rgb(255, 255, 255);
	}
}


@keyframes bg-bright {
	0% {
		background-color: rgb(255, 255, 255);
	}

	99.5% {
		filter: brightness(1.5);
		background-color: rgb(255, 255, 255);
	}
	100% {
		filter: brightness(1);
		background-color: rgb(255, 255, 255);
	}
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 5%);
  }
  25% {
    background-color: rgba(100, 255, 229, 5%);
  }
  50% {
    background-color: rgba(253, 255, 221, 5%);
  }
	100% {
    background-color: rgba(255, 255, 255, 5%);
  }
}

@keyframes pulse-2 {
  0% {
    background-color: rgba(255, 255, 255, 10%);
  }
  25% {
    background-color: rgba(100, 255, 229, 10%);
  }
  50% {
    background-color: rgba(253, 255, 221, 10%);
  }
	100% {
    background-color: rgba(255, 255, 255, 10%);
  }
}

@keyframes pulse-3 {
  0% {
    background-color: rgba(255, 255, 255, 20%);
  }
  25% {
    background-color: rgba(100, 255, 229, 20%);
  }
  50% {
    background-color: rgba(253, 255, 221, 20%);
  }
	100% {
    background-color: rgba(255, 255, 255, 20%);
  }
}

@keyframes pulse-4 {
  0% {
    background-color: rgba(255, 255, 255, 30%);
  }
  25% {
    background-color: rgba(100, 255, 229, 30%);
  }
  50% {
    background-color: rgba(253, 255, 221, 30%);
  }
	100% {
    background-color: rgba(255, 255, 255, 30%);
  }
}

@keyframes pulse-5 {
  0% {
    background-color: rgba(255, 255, 255, 50%);
  }
  25% {
    background-color: rgba(100, 255, 229, 50%);
  }
  50% {
    background-color: rgba(253, 255, 221, 50%);
  }
	100% {
    background-color: rgba(255, 255, 255, 50%);
  }
}

@keyframes end-piep {
	0% {
		transform: scale(100%);
	}
	80% {
		transform: scale(110%);
	}
	100% {
		transform: scale(100%);
	}
}



/* **********************************************
Animations tekst */


@keyframes whisper-fade {
	0% {
	opacity: 1;
	transform: scale(100%);
	transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: scale(80%);
		transform: translateX(25%);
	}
}

@keyframes whisper-shake {
	0% {
		transform: rotate(-5deg);
	}
	33% {
		transform: rotate(5deg);
	}
	66% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}